
/*========== XXL-DESKTOP ==========*/
@media (min-width: 1800px) {
   .footer-shape > .el-absolute {
      width: 36%;
   }
}

/*========== XL-DESKTOP : BETWEEN 1200px TO 1500PX. ==========*/
@media (min-width: 1200px) and (max-width: 1500px) {
}

/*========== LG + MD : BETWEEN 768PX TO 1199PX. ==========*/
@media (min-width: 768px) and (max-width: 1199px) {
   /* GLOBAL */
   h1 {font-size: 45px;}
   h2 {font-size: 38px;}
   h3 {font-size: 30px;}
   h4 {font-size: 25px;}
   h5 {font-size: 18px;}
   h6 {font-size: 15px;}
   body {
      font-size: 15px;
   }
   /* GLOBAL// */

   /* HERO AREA */
   .brands img {
      width: 8em;
   }
   /* HERO AREA// */

   /* FEATURE AREA */
   .feature-area .section-content p {
      font-size: 1.4em;
   }
   /* FEATURE AREA// */

   /* TESTIMONY AREA */
   .testimony-content {
      font-size: 1.25em;
   }
   .testimony-content h5 {
      font-size: 16px;
   }
   /* TESTIMONY AREA// */
}

/*========== LG-DESKTOP : BETWEEN 992PX TO 1199px. ==========*/
@media (min-width: 992px) and (max-width: 1199px) {
   /* GLOBAL */
   .container {
      max-width: 920px;
   }
   /* GLOBAL// */

}

/*========== MD-TABLET : BETWEEN 768PX TO 991PX ==========*/
@media (min-width: 768px) and (max-width: 991px) {
   /* GLOBAL */
   .container {
      max-width: 760px;
   }
   /* GLOBAL// */

   /* FEATURE*/
   .feature-bx {
      font-size: .9em;
   }
   /* FEATURE// */
}

/*========== SMALL MOBILE : SMALLER THEN 767PX ==========*/
@media (max-width: 767px) {
   /* GLOBAL */
   h1 {font-size: 38px;}
   h2 {font-size: 34px;}
   h3 {font-size: 25px;}
   h4 {font-size: 20px;}
   h5 {font-size: 18px;}
   h6 {font-size: 14px;}
   body {
      font-size: 14px;
   }
   /* GLOBAL// */

   /* HERO AREA */
   .brands img {
      width: 22%;
   }
   .hero-img {
      position: relative;
      max-width: 250px;
      margin-bottom: 15px;
   }
   .hero-area {
      padding-bottom: 5.5em;
   }
   .link,
   .site-btn {
      font-size: 1.1em;
   }
   /* HERO AREA// */

   /* FEATURE AREA */
   .feature-area {
      border-radius: 3em 0;
   }
   .feature-content {
      margin-bottom: 2.5em;
      font-size: .9em;
   }
   .feature-blue .feature-content {
      margin-bottom: 0;
      margin-top: 2.8em;
   }
   .inside-circle p {
      font-size: 12px;
   }
   /* FEATURE AREA// */

   /* TESIMONY AREA */
   .testimony-content {
      padding: 2em 1.5em;
   }
   .testimony-content .el-absolute {
      top: 1.5em;
      left: 2em;
      width: 2em;
   }
   .testimony-content h5 {
      font-size: 16px;
   }
   /* TESIMONY AREA// */

   /* ACCESS AREA */
   .access-area .section-content {
      margin-left: 0;
   }
   /* ACCESS AREA// */

   /* FOOTER AREA*/
   .footer-shape > .el-absolute {
      width: 14em;
   }
   /* FOOTER AREA// */
}

/*========== LARGE MOBILE : BETWEEN 480PX TO 767PX ==========*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
   .container {
      max-width: 500px;
   }
}

